version: 2.0

jobs:
  test-output:
    docker:
    - image: circleci/python:2.7-stretch
    steps:
    - checkout
    - run: echo "グーテンモルゲン

      yolo"

workflows:
  version: 2
  test:
    jobs:
    - test-output




















































































































