version: 2

jobs:
  test-output:
    docker:
    - image: circleci/python:2.7-stretch
    steps:
    - checkout
    - run: echo "a stringgg"

workflows:
  version: 2
  test:
    jobs:
    - test-output
